.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 2rem 0;
}

.content {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
