@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap");

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-secondary-text: rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  background: var(--color-white);
  color: var(--color-black);
}

a {
  color: inherit;
}
